<div>
  <table>
    <thead>
      <tr>
        <th class="px-4">Item</th>
        <th class="px-4">Precio unitario</th>
        <th class="px-4">Quantity</th >
        <th colspan="3"> </th>
      </tr>
    </thead>

    <tbody>
      <%@cart.cart_books.each do |cart_book|%>
        <tr>
          <td class="px-4"><%=cart_book.book.title%></td>
          <td class="px-4"><%= number_to_currency(cart_book.book.price)%></td>
          <td class="px-4"><%=cart_book.qty%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-4">
    <%= link_to "Empty cart", cart_path(current_cart),method: :delete, data: {confirm: "Are you sure?"}, class: "p-4" %>
  </div>
</div>